@model IEnumerable<CS2AJoseLorenzoVeracruz_MVCPROJECT.BusLogic.Model.tblStudent>


<main class="tablecenter">
    <div class="table__overflow">
        <section class="table__header">
            <h1>Student Information</h1>
            <a class="btn btn-dark" href="/Student/AddNewStudent">Add Student</a>
            <!--
                <a class="btn btn-dark" href="/Student/GetStudentByID">Get Student By ID</a>
            -->
            </section>
        <section class="table__body">
            <table id="student-table" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Course</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.id</td>
                            <td>@student.FirstName</td>
                            <td>@student.LastName</td>
                            <td>@student.Age</td>
                            <td>@student.Course</td>
                            <td>
                                <a class="btn btn-warning" href="/Student/EditStudent/@student.id">Edit</a>
                                <a class="btn btn-danger" href="/Student/DeleteStudent">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
        </section>

    </div>
</main>    



